h1,
h2,
h3,
h4,
p,
li {
  color: #444;
  font-family: sans-serif; /*serif default*/
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  line-height: 1.5; /*1.5 compare to text size*/
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px; /*default value is 16*/
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 16px;
  font-weight: bold;
}

.releated {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

li:first-child {
  font-weight: bold;
}

/* This won't work! - MISCONSCEPTION*/
/* article p:first-child {
  color: red;
} */

a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
